@import 'tailwindcss';

@theme {
    --color-laranja-400: #faa307;
    --color-laranja-500: #f48c06;

    --color-vermelho-300: #d00000;
    --color-vermelho-400: #9d0208;
    --color-vermelho-500: #6a040f;
    --color-vermelho-600: #38040e;

    --color-branco: #ffff;
    --color-preto: #03071e;
    --color-cinza: #ced4da;
}

@utility filtro-imagem {
    filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(2219%) hue-rotate(356deg) brightness(115%) contrast(107%);
}

body {
    @apply w-screen h-screen;
}

#root {
    @apply w-full h-full flex bg-cinza overflow-y-scroll scrollbar-none;
}